@page "/counter"
@inject IDialogService DialogService
@inject IStringLocalizer<MyStrings> Localizer
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;

	private async void IncrementCount()
	{
		currentCount++;
		var result = await DialogService.DisplayConfirm(Localizer["CountIsTitle"], Localizer["CountIsMessage", currentCount],
		"OK", "Give me another number");
	}
}
